<%= link_to 'Add Food', new_food_path, class: 'text-white bg-orange-500 float-right font-semibold my-4 rounded-md p-2' %>
<div class="clear-right border border-orange-500 rounded-lg">
<table class="table-auto w-full">
  <thead class="h-14">
    <tr class="bg-orange-500 p-3">
      <th class="rounded-tl-lg">Food</th>
      <th>Measurement unit</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th class="rounded-tr-lg">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr class="even:bg-orange-100 group">
        <td class="pl-2  group-last:rounded-bl-lg"><%= food.name %></td>
        <td class="text-center"><%= food.measurement_unit %></td>
        <td class="text-center">$<%= food.price %></td>
        <td class="text-center"><%= food.quantity %></td>
        <td class="text-center group-last:rounded-br-lg">
          <%= button_to 'Delete', food_path(food), method: :delete, class: 'text-white bg-orange-500 font-semibold my-4 rounded-md p-2' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
