<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice px-24 bg-lime-700 text-white"><%= notice %></p>
    <p class="alert px-24 bg-red-700 text-white"><%= alert %></p> 
    <%= render "shared/navigation_menu" %>
    <main class="px-24" >
      <%= yield %>
    </main>
  </body>
</html>
